
<h2>Picture of the day</h2>
<ul>
<% @results %>
<%= @results["title"] %>
<br>
<%= image_tag @results["url"], class: "img" %>
<br>
</ul>
<h2>News from Space</h2>
<ul>
<% @results_news %>
<% @results_news["articles"].each do |a| %>
  <li>
  <%= a["title"] %>||
  <a href= "<%= a["url"]%>">Please follow the link to read the article</a>
  </li>
<% end %>
</ul>
